body{
    margin:0;
    background-color: black;

    font-family: Arial, Helvetica, sans-serif;

    color: rgb(181, 163, 163);

}

header{
    background-color:rgb(75, 56, 76);

    padding: 40px;

    text-align: center;
}

header h1{
    font-size: 45px;

    margin:0;
}
header p{
    font-size: 18px;
}
nav{
    background-color: rgb(36, 24, 42);
    padding: 20px;
    text-align: center;
position: sticky;

top: 0; 
}

nav a {
    color: white;

    text-decoration: none;

    margin: 15px;

    font-weight: bold;
}
nav a:hover {
    color: blueviolet;
}
main{

max-width: 1000px;

margin: auto;

padding: 20px;
}

section {
    margin-bottom: 60px;
}

section h2 {
color: rgb(160, 133, 184);

border-bottom: 2px solid pink;

padding-bottom: 10px;
}

.banner img{

    width: 100%;
    border-radius:15px;
    width: 50%;
    display: block;
    margin:0 auto; 
}

.Personagem{

    display: flex;

    gap:20px;

    flex-wrap: wrap;
}

.card{
    background-color: rgb(4, 4, 4);

    padding: 20px;

    border-radius: 15px;

    width: 250px;

    text-align: center;
}

.card img{
    width: 100%;

    border-radius: 10px;
}

.card:hover{
    background-color: rgba(73, 73, 157, 0.675);
    transform: scale(1.05);
}

.botao{
    background-color: rgb(84, 60, 105);
    color: white;
    padding: 15px 25px;
    text-decoration:none;
    border-radius: 8px;
    
}
.botao:hover{
    background-color: rgb(49, 49, 133);
}
footer{
    background-color: rgb(124, 85, 126);
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

    .tabela-container{
        overflow-x: auto;
    }
    traile{
        border-collapse: collapse;
        min-width: 650px;
        width: 100%;
        background-color: rgb(90, 172, 173);
    }

    caption{
        color:rgb(131, 86, 163);
        font-family: bold;
        margin-bottom: 16px;
        text-align: center;
    }
    
    td{
        border:1px pink;
        padding: 14px;
        text-align: left;
    }
    
    th{
background-color: darkorchid;
    }

    tbody tr:nht-child(even){
        background-color: indianred;
    }
